body{
    font-weight: bold;
    
}

.form_group{
    margin: 10px;

}

.btn{
    color:white;
    width:80px;
    height: 30px;
    background-color: rgb(33, 211, 33);
    border: none;
    border-radius: 5px;
}


